{{!-- about-info.handlebars --}}
<div id="about" class="container my-5">
    <div class="mb-2">
        <h2>Resources</h2>
        <p>Pollr was created with the following resources.</p>
    </div>
    {{!-- 
        Resources:
        - Node.js
        - MongoDB + mongoose
        - Redis
        - Bootstrap
        - Webpack
        - ESLint
        - Babel
        - React
        - Handlebars
        - Mocha + expect.js
        - Nodemon
        - underscore _

        Tutorials:
        - https://italonascimento.github.io/applying-a-timeout-to-your-promises/
        
        Tools:
        - VS Code
        - Adobe XD
        - CircleCI

    --}}
    <div class="media position-relative my-3 p-3 bg-light shadow">
        <span class="d-block mr-1"><i class="material-icons md-48">face</i></span>
        <div class="media-body">
            <h5 class="mt-0">Resource</h5>
            <p class="lead">Description of media.</p>
            <a href="#" class="stretched-link" target="_blank">Visit resource page.<i class="material-icons md-18">open_in_new</i></a>
        </div>
    </div>
    <div class="media position-relative my-3 p-3 bg-light shadow">
        <span class="d-block mr-1"><i class="material-icons md-48">face</i></span>
        <div class="media-body">
            <h5 class="mt-0">Resource</h5>
            <p class="lead">Description of media.</p>
            <a href="#" class="stretched-link" target="_blank">Visit resource page.<i class="material-icons md-18">open_in_new</i></a>
        </div>
    </div>
    <div class="media position-relative my-3 p-3 bg-light shadow">
        <span class="d-block mr-1"><i class="material-icons md-48">face</i></span>
        <div class="media-body">
            <h5 class="mt-0">Resource</h5>
            <p class="lead">Description of media.</p>
            <a href="#" class="stretched-link" target="_blank">Visit resource page.<i class="material-icons md-18">open_in_new</i></a>
        </div>
    </div>
    <div class="media position-relative my-3 p-3 bg-light shadow">
        <span class="d-block mr-1"><i class="material-icons md-48">face</i></span>
        <div class="media-body">
            <h5 class="mt-0">Resource</h5>
            <p class="lead">Description of media.</p>
            <a href="#" class="stretched-link" target="_blank">Visit resource page.<i class="material-icons md-18">open_in_new</i></a>
        </div>
    </div>
</div>