{{!-- bio-info.handlebars --}}
<div id="bio" class="container my-5">
    <div id="overview" class="mb-2">
        <h1>About this site.</h1>
        <p class="lead">Learn more about the Pollr website and what it was built with.</p>
    </div>
    <div class="mb-2">
        <h2>Pollr</h2>
        <p>Pollr is a polling web application that allows you to create polls to share with your friends. Use it to solve difficult problems - like what food your group should get at your next outing... You know, when the lockdown restrictions are lifted.</p>
    </div>
</div>