{{!-- contact-info.handlebars --}}
<div id="contact" class="container my-5" >
    <h2>Contact the developer.</h2>
    <p class="lead">You can get in touch with the developer behind this project!</p>
    <p>Pollr was created by a student developer from the Rochester Institute of Technology.</p>
    <div class="media mt-2 mt-sm-5 p-3 p-sm-5 border rounded bg-light">
        <img src="/assets/img/dev.jpg" class="rounded mr-3" alt="Dev Photo" style="height:75px;" />
        <div class="media-body">
            <h5 class="mt-0">Ian Effendi</h5>
            <p>Ian is an interactive software developer from Bronx, NY.</p>
            <span class="text-muted">Links will open in a new tab:</span>
            <div class="links">
                <a href="mailto:effendiian@gmail.com"  class="badge badge-secondary p-1">Email</a>
                <a href="#" class="badge badge-success p-1">Visit GitHub</a>
            </div>
        </div>
    </div>
</div>