{{!-- fixed-footer.handlebars --}}
<div class="d-none d-sm-block" style="height:40px;">
    <div class="container mx-auto bg-white border-top border-primary fixed-bottom d-none d-sm-block">
    {{> footer-content}}
    </div>
</div>