<footer>
    <div class="footer">
        <div class="footer-left">
            <div class="copyright">© 2020 Ian Effendi</div>
        </div>
        <div class="footer-right">
            <ul class="footer-links">
                <li class="footer-link"><a class="footer-link-style" href="#" title="About">ABOUT</a></li>
                <li class="footer-link"><a class="footer-link-style" href="#" title="Contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
</footer>