<html lang="en">
<head>
</head>
<body>
    {{> header}}
    <main id="content">
        Should display ABOUT or CONTACT.
        Is the ABOUT page? "{{isAbout}}".
    </main>
    {{> footer}}
</body>
</html>