<html lang="en">
<head>
</head>
<body>
    {{> header}}
    <main id="content">
        <section id="sidebar">
        </section>
        <section id="polls">            
        </section>
    </main>
    {{> footer}}
</body>
</html>