<html lang="en">
<head>
</head>
<body>
    {{> header}}
    <main id="content">
        <div class="content-left">
            <p class="hero-caption">
                YOUR FRIENDS STILL CAN'T DECIDE ON WHAT TO WATCH?  
            </p>
            <button class="call-to-action">MAKE A POLL</button>
        </div>
        <div class="content-right">
            <img class="hero-image" src="/assets/img/zombieing.svg" alt="Zombieing vector image from OpenDoodles." />
        </div>
    </main>
    {{> footer}}
</body>
</html>