<html lang="en">
<head>
</head>
<body>
    {{> header}}
    <main id="content">
        <div id="pricingOptions" class="content-main">
            Pricing options should appear here.
        </div>
    </main>
    {{> footer}}
</body>
</html>