{{!-- includes/hero.handlebars --}}

<div class="content-main hero-main">
    <p class="hero-caption">
        <span class="hero-caption-text">YOUR FRIENDS STILL<br/> CAN'T DECIDE ON<br/> WHAT TO WATCH?</span>
    </p>
    <a class="call-to-action" href="#">MAKE A POLL</a>
</div>
<div class="content-background">            
</div>