{{!-- includes/meta.handlebars --}}
<meta charset="utf-8" />
<meta name="description" content="Make polls. Make decisions." />
<meta name="keywords" content="Polls" />
<meta name="author" content="Ian Effendi" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
    {{#if title}}
        {{title}}
    {{else}}
        Pollr
    {{/if}}
</title>