{{!-- includes/notifications.handlebars --}}
<div class="container">
    <div class="mx-2 my-2">
        <div id="notification" class="alert alert-primary d-none" role="alert">Placeholder alert.</div>
    </div>
</div>