{{!-- pages/about.handlebars --}}
{{!-- Use the main layout --}}
{{#> layouts/main title="Pollr | About" }}
    {{!-- Add in the meta, styles, and head scripts --}}
    {{#extend "meta-content"}}
        {{> includes/meta}}
    {{/extend}}    
    {{!-- Add in the meta, styles, and head scripts --}} 
    {{#extend "head-styles"}}
        {{> includes/styles}}
    {{/extend}}    
    {{!-- Add in the meta, styles, and head scripts --}}
    {{#extend "head-scripts"}}
        {{> includes/scripts}}
        {{> includes/react-scripts}}
    {{/extend}}
    {{!-- Provide this page's header --}}
    {{#extend "header"}}
        {{> includes/header}}
    {{/extend}}
    {{!-- Overwrite the main content --}}
    {{#extend "main"}}
        <div id="content" class="container-md mx-auto">     
            <div class="row">
                <div class="col-sm d-none d-sm-block"></div>
                <div class="col-sm-8 col-md-6">
                    {{> bio-info}}           
                    {{> about-info}}
                    {{> contact-info}}
                </div>
                <div class="col-sm d-none d-sm-block"></div>
            </div>
        </div>  
    {{/extend}}    
    {{!-- Provide this page's footer --}}
    {{#extend "footer"}}
        {{> includes/footer}}
    {{/extend}}
{{/layouts/main}}