{{!-- pages/login.handlebars --}}
{{!-- Use the main layout --}}
{{#> layouts/main title="Pollr | Login" }}
    {{!-- Add in the meta  --}}
    {{#extend "meta-content"}}
        {{> includes/meta}}
    {{/extend}}
    {{!-- Add in the styles --}}    
    {{#extend "head-styles"}}
        {{> includes/styles}}
    {{/extend}}    
    {{!-- Add in the head scripts --}}
    {{#extend "head-scripts"}}
        {{> includes/scripts}}
        {{> includes/react-scripts}}
    {{/extend}}
    {{!-- Provide this page's header --}}
    {{#extend "header"}}
        {{> includes/header}}
    {{/extend}}
    {{!-- Overwrite the main content --}}
    {{#extend "main"}}
        <div id="content">
            <div id="form">The form should be displayed here.</div>
            <button id="loginButton">Login</button>
            <button id="signupButton">Signup</button>
        </div>
    {{/extend}}
    {{!-- Provide this page's header --}}
    {{#extend "footer"}}
        {{> includes/footer}}
    {{/extend}}    
    {{!-- Add in the body scripts --}}
    {{#extend "body-scripts"}}
        {{> script bundle="authentication" }}
    {{/extend}}
{{/layouts/main}}